{% extends 'base.html' %} {% block content %}

<h1>{{ toy.name }}'s Details</h1>

<div style="border: 2px solid orange;" class="card">
    <div class="card-content #ffcc80 orange lighten-3">
      <span class="card-title">{{ toy.name }}</span>
      <p>Color: {{ toy.color }}</p>
      <div class="card-action">
        <a style="color: black;" href="{% url 'toys_update' toy.id%}">Edit</a>
        <a style="color: black;" href="{% url 'toys_delete' toy.id%}">Delete</a>
      </div>
    </div>
</div>
{% endblock %}